<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Author" contect="http://www.webqin.net">
<title>宏兴红木家具销售系统</title>
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<link type="text/css" href="/static/css/css.css" rel="stylesheet" />

<link href="/static/css/select.css" rel="stylesheet" />
<link href="/static/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/js/js.js"></script>
<script type="text/javascript" src="/static/js/zhiding.js"></script>
{% block link-js %}{% endblock %}
    {% block navclass %}
    <script type="text/javascript">
        $(function(){
	        //导航定位
	        $(".nav li:eq(0)").addClass("navCur");
	    });
    </script>
    {% endblock %}
    <style>
        .headImg{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            vertical-align: middle;
        }
        h3.house_title{
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        .nav{
            width: 1190px;
            float: left;
            height: 50px;
        }
        .index-fang-list dl {
            float: left;
            width: 288px;
            height: 243px;
            margin-right: 8px;;
        }
    </style>
    {% block style %}{% endblock %}

</head>

<body> 
 <div class="header">
  <div class="width1190">
   <div class="fl">宏兴红木家具销售系统</div>
   <div class="fr">
        {% if username %}
            <a href="/userinfo/" title="点击进入个人中心"><img src="{{ user.headimg.url }}" class="headImg" alt=""> &nbsp;{{ username }}</a>
            <a href="/logout/">退出</a>
        {% else %}
            <a href="/login/">登录</a> | <a href="/register/">注册</a>
        {% endif %}
   </div>
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--header/-->
 <div class="logo-phone">
  <div class="width1190">
   <h1 class="logo"><a href="/"><img src="/static/images/logo.jpg"  style="max-width: 280px"/></a></h1>
   <div class="phones"><strong>400-000-0000</strong></div>
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--logo-phone/-->
 <div class="list-nav">
  <div class="width1190">
   <ul class="nav">
        <li><a href="/">首页</a></li>
        <li><a href="/jiaju/j-0-0.html">家具城</a></li>
        <li><a href="/news/">新闻资讯</a></li>
        <li><a href="/aboutus/">关于我们</a></li>
        <li><a href="/contactus/">联系我们</a></li>
        <li><a href="/userinfo/">个人中心</a></li>
   </ul><!--nav/-->
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--list-nav/-->
 <div class="banner" style="background:url(/static/images/backgroud.jpg) 100% 100%"></div>


{% block content %}
 <div class="content">
  <div class="width1190">
   <h2 class="title">热门家具 <a href="/jiaju/j-0-0.html">更多&gt;&gt;</a></h2>
   <div class="index-fang-list">
       {% for item in redwood_list %}
       {% if forloop.counter0 < 8 %}
        <dl>
         <dt><a href="/jiaju_info/{{ item.id }}"><img src="{{ item.img.url }}" width="286" height="188" /></a></dt>
         <dd>
          <h3 class="house_title"><a href="/jiaju_info/{{ item.id }}"></a>{{ item.title }}</h3>
         </dd>
        </dl>
       {% endif %}
       {% endfor %}
    <div class="clears"></div>
   </div><!--index-fang-list/-->
  </div><!--width1190/-->
 </div><!--content/-->

 <div class="xinren">
  <div class="width1190">
   <dl style="background:url(/static/images/icon1.jpg) left center no-repeat;">
    <dt>承诺</dt>
    <dd>真实可信100%真房源<br />链家承诺，假一赔百</dd>
   </dl>
   <dl style="background:url(/static/images/icon2.jpg) left center no-repeat;">
    <dt>权威</dt>
    <dd>独家房源 覆盖全城<br />房源信息最权威覆盖最广</dd>
   </dl>
   <dl style="background:url(/static/images/icon3.jpg) left center no-repeat;">
    <dt>信赖</dt>
    <dd>万名置业顾问 专业服务<br />百万家庭的信赖之选</dd>
   </dl>
   <dl style="background:url(/static/images/icon4.jpg) left center no-repeat;">
    <dt>安全</dt>
    <dd>安心承诺 保驾护航<br />多重风险防范机制 无后顾之忧</dd>
   </dl>
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--xinren/-->
 {% endblock %}
<div class="clears"></div>
 <div class="footer">
  <div class="width1190">
   <div class="fl"><a href="/"><strong>宏兴家居</strong></a><a href="/aboutus/">关于我们</a><a href="/contactus/">联系我们</a><a href="/userinfo/">个人中心</a></div>
   <div class="fr">
    <dl>
     <dt><img src="/static/images/erweima.png" width="76" height="76" /></dt>
     <dd>微信扫一扫<br />房价点评，精彩发布</dd>
    </dl>
    <dl>
     <dt><img src="/static/images/erweima.png" width="76" height="76" /></dt>
     <dd>微信扫一扫<br />房价点评，精彩发布</dd>
    </dl>
    <div class="clears"></div>
   </div>
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--footer/-->
 <div class="copy">Copyright@ 2019 宏兴版权所有 京ICP备1234567号-0  &nbsp;&nbsp;&nbsp;&nbsp;技术支持：宏兴 </div>
</body>
</html>
