<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/zhiding.css">
</head>
<body>
    <div id="fathor">
        <img src="/static/error/nlogin.jpg" alt="" width="555">
    </div>
    <div id="son">
        <a href="/login/" target="_blank">立即登陆</a>
        <a href="/register/" target="_blank">我先注册</a>
    </div>

    <div class="zhidingtext">
         <h4>指定购房注意事宜：</h4>
         <p>1、制定购房要求用户注册并登陆才可以</p>
         <p>2、您最好是详细的输入房源地址(精确到小区)，有利于系统更好的给您推荐</p>
         <p>3、制定购房申请提交后，客服中心会在24小时之内与您取得联系</p>
         <p>4、如有任何疑问，请随时拨打我们的电话：400-000-0000</p>
         <p>5、Leyton 个人邮箱：leyton@163.com</p>
  </div><!--zhidingtext/-->
</body>
</html>